* {
    font-family: monospace;
}

li {
    cursor: pointer;
    transition: all 0.45s ease-in;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0.5;
}

.checked {
    text-decoration: line-through;
    opacity: 0.35;
}